* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(180deg, #b317a6ee, #96057e);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* CONTENEDOR */
.app {
    width: 90%;
    max-width: 350px;
    text-align: center;
}

/* TEXTO ARRIBA */
.playlist {
    font-size: 14px;
    opacity: 0.8;
    margin-bottom: 20px;
}

/* PORTADA */
.cover {
    width: 100%;
    border-radius: 20px;
    box-shadow: 0 15px 40px rgba(0,0,0,0.5);
}

/* INFO */
.info h2 {
    margin-top: 20px;
    font-size: 20px;
}

.info p {
    opacity: 0.7;
    margin-top: 5px;
}

/* BARRA */
#progress {
    width: 100%;
    margin: 25px 0;
}

/* CONTROLES */
.controls {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

/* BOTONES */
.controls button {
    background: none;
    border: none;
    color: white;
    font-size: 25px;
    cursor: pointer;
}

/* BOTÓN PRINCIPAL */
.play {
    background: white;
    color: black;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    font-size: 25px;
}