* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* CONTENEDOR */
.app {
    width: 100%;
    max-width: 380px; /* tamaño tipo celular */
    padding: 10px;
}

/* IMAGEN */
.cover {
    align-items: center;
    width: 100%;
    height: auto;
    border-radius: 12px;
    cursor: pointer;
    transition: 0.3s;
}

/* EFECTO AL TOCAR */
.cover:active {
    transform: scale(0.96);
}

/* EFECTO CUANDO SUENA */
.playing {
    box-shadow: 0 0 30px rgba(255,255,255,0.8);
}

/* 📱 AJUSTES EXTRA PARA CELULARES */
@media (max-width: 480px) {

    body {
        padding: 20px 10px;
        height: auto;
    }

    .app {
        max-width: 100%;
    }

    .cover {
        border-radius: 10px;
    }
}
